body{
    background-color: map-get($map:$fondos,$key:"dos");
    overflow-x: hidden;
}
header{
    h2{
        font-family: $titleFont;
        text-align: $textCenter;
    }
    h1{
        text-align: $textCenter;
    }
}

#servicios{
    background: map-get($map:$fondos,$key:"tres");
    h2{
        font-family: $titleFont;
        text-align: $textCenter;
    }
        p{
            text-align: $textCenter;
            font-size: $textXl;
        }
}

#trabajos{
    background-color:map-get($map:$fondos,$key:"cuatro");
    h2{
        font-family: $titleFont;
        text-align: $textCenter;
    }
}
#clientes{
    background: map-get($map:$fondos,$key:"tres");
    h2{
        font-family: $titleFont;
        text-align: $textCenter;
    }
        img:hover{
                transform: translate(0px, -12px);
                cursor: pointer;
        }

}


#nosotros{
    background-color: map-get($map:$fondos,$key:"cuatro");
    h2{
        font-family: $titleFont;
        text-align: $textCenter;
    }
        p{
            font-size: $textMD;
            text-align: $textJust;
        }
}
#formulario{
    h2{
        font-family: $titleFont;
        text-align: $textCenter;
    }
        p{
            text-align: $textCenter;
            font-size: $textMD;
        }
            textarea{
                height: 300px;
                font-size: $textXS;
            }
                input{
                    font-size: $textXS;
                }
                    label{
                        font-size: $textXXS;
                    }

                        button{
                            font-size: $textSM;
                            border: none;
                        }
}

#head{
    width: $w-100;
}
#textSection{
    text-align: $textCenter;
}

#back__PG{
    background: map-get($map:$fondos,$key:"tres");
}

.linkText{
    color: $textColor;
    text-decoration: none;
    &:hover{
        color: rgb(175, 103, 175);
        cursor: pointer;
    }
}

.btn{
    border: solid;
    border-color: rgb(199, 100, 199);
    background: rgb(175, 103, 175);
    &:hover{
        color: rgb(253, 253, 253);
        cursor: pointer;
    }
}

.clientesBtn{
    @extend .btn;
    background-color: aqua;
    a{
        text-decoration: none;
        color: $textColor;}
    &:hover{
        transform: scale(1.2);
        transition: 2s;}
}

.bloque{
    @include flex(space-around, center);
}
.bloqueDos{
    @include flexdos(center, column);
}
.bloqueTres{
    @include flexdos(flex-start,column);
}