@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap');

$mainFont: 'Lato', sans-serif;
$titleFont: 'Electrolize';

$textXL: 2rem;
$textMD: 1.8rem;
$textSM: 1.5rem;
$textXS:1.3rem;
$textXXS:1rem;
